Repository dwightjack/marco.solazzi.me: changes, and which lefthook commands are due for each by the changed paths.
All: linter, styles

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    linter:
      glob: "*.{mjs,cjs,js,ts,astro}"
      run: pnpm exec eslint {staged_files}
    styles:
      glob: "*.{css,html,vue,astro}"
      run: pnpm exec stylelint {staged_files}

initial setup
  astro.config.mjs
  build/rehype-plugins.mjs
  src/content/blog/demo.md
  src/styles/patterns.css
  src/styles/patterns/prose.css
  src/styles/patterns/scroller.css
Due: linter, styles

fixing weird animation jitter
  src/styles/patterns/scroller.css
Due: styles

scrollable table logic
  .vscode/settings.json
  astro.config.mjs
  build/rehype-plugins.mjs
  build/remark-plugins.mjs
  src/content/blog/demo.md
  src/pages/blog/[...slug].astro
  src/shared/patterns/tableScroller.ts
  src/styles/global.css
  src/styles/patterns.css
  src/styles/patterns/prose.css
  src/styles/patterns/scroller.css
  src/styles/patterns/table-scroller.css
Due: linter, styles

fix lint errors
  build/remark-plugins.mjs
Due: linter

refactor and cross browser support
  src/shared/patterns/tableScroller.ts
  src/styles/patterns/table-scroller.css
Due: linter, styles

fix article tables
  src/content/blog/journey-through-switches.md
Due: none

Make table in content scrollable (#296)
  .vscode/settings.json
  astro.config.mjs
  build/rehype-plugins.mjs
  build/remark-plugins.mjs
  src/content/blog/demo.md
  src/content/blog/journey-through-switches.md
  src/pages/blog/[...slug].astro
  src/shared/patterns/tableScroller.ts
  src/styles/global.css
  src/styles/patterns.css
  src/styles/patterns/prose.css
  src/styles/patterns/table-scroller.css
Due: linter, styles

add sitemap.xml
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/layouts/Layout.astro
Due: linter, styles

remove logging
  src/shared/patterns/tableScroller.ts
Due: linter

enable native view transition
  src/styles/global.css
Due: styles

remove 404 link
  src/content/works/fujitv_view.yaml
Due: none

update deps
  build/external-favicon.mjs
  package.json
  pnpm-lock.yaml
Due: linter

refactor footer links rel
  src/layouts/Layout.astro
Due: linter, styles

tmp
  src/styles/patterns/prose.css
Due: styles

update astro to latest version
  package.json
  pnpm-lock.yaml
Due: none

update deps
  .stylelintrc.json
  package.json
  pnpm-lock.yaml
Due: none

update deps (#299)
  .stylelintrc.json
  package.json
  pnpm-lock.yaml
Due: none

use balanced heading
  src/styles/patterns/prose.css
Due: styles

use high contrast theme for code snippets
  astro.config.mjs
Due: linter

update deps
  package.json
  pnpm-lock.yaml
Due: none

reenable html minification
  astro.config.mjs
Due: linter

Astro updates (#300)
  astro.config.mjs
  package.json
  pnpm-lock.yaml
Due: linter

clearer prose link hover
  src/styles/patterns/prose.css
Due: styles

fix linting
  src/env.d.ts
Due: linter

simplify table scroller visual helpers
  src/styles/patterns/table-scroller.css
Due: styles

add learn in progress skills
  src/content/skills/backlog.yaml
  src/content/skills/languages.yaml
  src/content/skills/libraries.yaml
  src/shared/collections.ts
Due: linter

add learn in progress skills (#305)
  src/content/skills/backlog.yaml
  src/content/skills/languages.yaml
  src/content/skills/libraries.yaml
  src/shared/collections.ts
Due: linter

fix token naming
  src/components/PageSection.astro
  src/styles/patterns/prose.css
  src/styles/tokens.css
Due: linter, styles

update tasks of fujitv_view.yaml
  src/content/works/fujitv_view.yaml
Due: none

small browser compatibility fixes
  src/components/Burger.astro
  src/components/Page.astro
Due: linter, styles

shorter solution for card decoration
  src/components/Card.astro
Due: linter, styles

migrate to noto for slight better legibility
  package.json
  pnpm-lock.yaml
  src/layouts/Layout.astro
  src/styles/tokens.css
Due: linter, styles

force fontface css inline
  src/layouts/Layout.astro
Due: linter, styles

Change image loading attribute from eager to lazy for better performance
  src/components/Avatar.astro
Due: linter, styles

Migrate to noto for slight better legibility (#313)
  package.json
  pnpm-lock.yaml
  src/components/Avatar.astro
  src/layouts/Layout.astro
  src/styles/tokens.css
Due: linter, styles

fix fonts
  src/layouts/Layout.astro
Due: linter, styles

refactor font source paths for improved clarity
  src/layouts/Layout.astro
Due: linter, styles

refactor font loading
  src/layouts/Layout.astro
  src/styles/global.css
Due: linter, styles

update talks and works
  src/content/talks/20160325_cssday_it_2016.yaml
  src/content/talks/20210708_merpay_frontend_tech_talk.yaml
  src/content/works/carrefour.yaml
  src/content/works/soup_stock_tokyo.yaml
Due: none
