Repository dwightjack/marco.solazzi.me: changes, and which lefthook commands are due for each by the changed paths.
All: linter, styles

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    linter:
      glob: "*.{mjs,cjs,js,ts,astro}"
      run: pnpm exec eslint {staged_files}
    styles:
      glob: "*.{css,html,vue,astro}"
      run: pnpm exec stylelint {staged_files}

refactor: review spacing
  src/components/Card.astro
  src/components/DataGroup.astro
  src/components/Nav.astro
  src/layouts/Layout.astro
  src/styles/global.css
  src/styles/tokens.css
Due: linter, styles

refactor: review spacing
  src/components/Avatar/Avatar.astro
  src/components/DataGroup.astro
  src/components/Grid.astro
  src/components/PageSection.astro
  src/sections/Cover.astro
  src/styles/global.css
Due: linter, styles

refactor: remove unused tokens
  src/sections/Cover.astro
  src/styles/tokens.css
Due: linter, styles

feat: initial dark mode support
  src/components/ExternalAnchor.astro
  src/layouts/Layout.astro
  src/sections/Cover.astro
  src/styles/global.css
  src/styles/tokens.css
Due: linter, styles

feat: initial dark mode support
  src/styles/global.css
  src/styles/tokens.css
Due: styles

fix: nav color
  src/styles/global.css
Due: styles

docs: update readme
  README.md
Due: none

ci: add actions to verify that the project builds
  .github/workflows/ci.yml
Due: none

ci: add package manager
  package.json
Due: none

ci: customize renovate config
  renovate.json
Due: none

fix: remove logging
  src/components/Page.astro
Due: linter, styles

fix: wrong token
  src/components/DataGroup.astro
Due: linter, styles

refactor: update source code after merging #46
  src/components/Cluster.astro
  src/components/ExternalAnchor.astro
  src/components/Stack.astro
  src/layouts/Layout.astro
Due: linter, styles

refactor: remove pixi and animejs and use native Element.animate
  README.md
  package.json
  pnpm-lock.yaml
  src/components/Avatar.astro
  src/components/Avatar/Avatar.astro
  src/components/Avatar/animation.ts
  src/components/Avatar/octagon.ts
  src/sections/Cover.astro
  src/shared/utils.ts
Due: linter, styles

feat: use avif and webp formats with fallback
  src/assets/images/marco.avif
  src/assets/images/marco.webp
  src/components/Avatar.astro
  src/sections/Cover.astro
Due: linter, styles

feat: add a hidden h1 to complete the heading tree
  src/pages/index.astro
Due: linter, styles

fix: typo and css improvements
  src/components/Avatar.astro
  src/components/Page.astro
Due: linter, styles

feat: job description
  src/sections/Cover.astro
Due: linter, styles

ci: don't build renovate PRs
  netlify.toml
  scripts/ignoreBuild.js
Due: linter

chore: remove unused package
  package.json
  pnpm-lock.yaml
Due: none

feat: new theme tokens
  src/styles/tokens.css
Due: styles

feat: theme switcher and primitives review
  src/components/Box.astro
  src/components/Burger.astro
  src/components/Cluster.astro
  src/components/Icon.astro
  src/components/LinkList.astro
  src/components/Nav.astro
  src/components/Page.astro
  src/components/Stack.astro
  src/components/ThemeSwitcher.astro
  src/layouts/Layout.astro
  src/shared/constants.ts
  src/shared/store.ts
  src/shared/types.d.ts
  src/styles/tokens.css
Due: linter, styles

refactor: use helper to compute style
  src/components/Box.astro
  src/components/Icon.astro
  src/components/Stack.astro
  src/shared/utils.ts
Due: linter, styles

fix: focus style could be overriden
  src/components/Burger.astro
Due: linter, styles

feat: apply type scale
  src/components/Card.astro
  src/components/Cluster.astro
  src/components/LinkList.astro
  src/components/Nav.astro
  src/components/PageSection.astro
  src/styles/global.css
  src/styles/tokens.css
Due: linter, styles

feat: update talks
  src/database/talks.json
Due: none

feat: update talk details
  src/database/talks.json
Due: none

feat: add meta lang attribute
  src/components/Card.astro
  src/database/talks.json
Due: linter, styles

resume link and skills update
  src/database/links.json
  src/database/skills.tech.json
Due: none

refactor: inline cover quotes
  src/sections/Cover.astro
Due: linter, styles

fix: postcss breaking change
  package.json
  pnpm-lock.yaml
  postcss.config.cjs
Due: linter

ci: setup integration and visual tests
  .github/workflows/ci.yml
  .gitignore
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  tests/integration.test.ts
  tests/visual.test.ts
Due: linter

style: fix linting
  package.json
  pnpm-lock.yaml
  src/components/Burger.astro
  src/layouts/Layout.astro
  src/sections/Cover.astro
Due: linter, styles

ci: make percy skippable
  .github/workflows/ci.yml
Due: none

style: fix linting
  src/components/Box.astro
  src/components/Stack.astro
  src/layouts/Layout.astro
  src/shared/routes.ts
  src/shared/store.ts
Due: linter, styles

chore: update node
  package.json
Due: none

stylint update
  .github/workflows/ci.yml
  .stylelintrc.json
  package.json
  pnpm-lock.yaml
  src/styles/global.css
Due: styles

update component type
  src/components/Box.astro
  src/components/Cluster.astro
  src/components/Stack.astro
  tsconfig.json
Due: linter, styles

remove custom scrollbar for better support high contrast themes
  src/styles/global.css
  src/styles/tokens.css
Due: styles

refactor styles
  src/components/Burger.astro
  src/components/DataGroup.astro
  src/database/jobs.json
  src/layouts/Layout.astro
  src/styles/global.css
  src/styles/tokens.css
  src/styles/utility.css
Due: linter, styles
