Repository dwightjack/marco.solazzi.me: changes, and which lefthook commands are due for each by the changed paths.
All: linter, styles

linter:
  run: pnpm exec eslint {staged_files}

styles:
  run: pnpm exec stylelint {staged_files}

Meter article (#331)
  astro.config.mjs
  build/markdown-plugins.mjs
  package.json
  pnpm-lock.yaml
  src/assets/images/blog/windows-meters.png
  src/content/blog/simple-colored-meter.md
  src/styles/patterns/prose.css
  src/styles/tokens.css
Due: linter, styles

update publish date
  src/content/blog/simple-colored-meter.md
Due: none

use relative syntax
  src/styles/patterns/prose.css
Due: styles

adjust info and warning box styles
  build/markdown-plugins.mjs
  src/styles/patterns/prose.css
Due: linter, styles

update text and markup
  src/content/blog/not-everything-needs-a-component.md
Due: none

add updates notice to the blog post header
  src/content.config.ts
  src/pages/blog/[id].astro
Due: linter, styles

change deprecated setting
  .vscode/settings.json
Due: none

remove last update from blog list
  eslint.config.mjs
  src/shared/collections.ts
Due: linter

Update "Not Everything Needs a Component" post (#332)
  .vscode/settings.json
  build/markdown-plugins.mjs
  eslint.config.mjs
  src/content.config.ts
  src/content/blog/not-everything-needs-a-component.md
  src/pages/blog/[id].astro
  src/shared/collections.ts
  src/styles/patterns/prose.css
Due: linter, styles

preload above the fold image
  src/components/Avatar.astro
Due: linter, styles

refactor style for description list in card
  src/components/Card.astro
Due: linter, styles

refactor jobs contents
  src/content.config.ts
  src/content/jobs/aquest.md
  src/content/jobs/html_it.md
  src/content/jobs/intesys.md
  src/content/jobs/mercari.md
  src/content/jobs/promobit.md
  src/content/jobs/shiftbrain.md
  src/shared/collections.ts
Due: linter

Card data list and job contents refactor (#333)
  src/components/Card.astro
  src/content.config.ts
  src/content/jobs/aquest.md
  src/content/jobs/html_it.md
  src/content/jobs/intesys.md
  src/content/jobs/mercari.md
  src/content/jobs/promobit.md
  src/content/jobs/shiftbrain.md
  src/shared/collections.ts
Due: linter, styles

remove reduntant rules
  src/styles/tokens.css
Due: styles

update node and pnpm
  .node-version
  package.json
  pnpm-lock.yaml
Due: none

update node and pnpm (#334)
  .node-version
  package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  linter: any of: *.{mjs,cjs,js,ts,astro}
  styles: any of: *.{css,html,vue,astro}
