Repository dwightjack/marco.solazzi.me: changes, and which lefthook commands are due for each by the changed paths.
All: linter, styles

linter:
  run: pnpm exec eslint {staged_files}

styles:
  run: pnpm exec stylelint {staged_files}

visual and integration tests
  tests/integration.test.ts
  tests/visual.test.ts
Due: linter

patterns cleanup and refactor
  src/components/LinkList.astro
  src/layouts/Layout.astro
  src/sections/Talks.astro
  src/sections/Works.astro
  src/styles/patterns/cluster.css
  src/styles/patterns/stack.css
Due: linter, styles

review text
  src/content/blog/not-everything-needs-a-component.md
Due: none

update page titles and descriptions
  src/layouts/Layout.astro
  src/pages/404.astro
  src/pages/blog/index.astro
Due: linter, styles

update work
  src/content/jobs/mercari.md
Due: none

update link
  src/content/jobs/mercari.md
Due: none

some ui tests
  src/components/Card.astro
  src/components/DateTime.astro
  src/sections/Jobs.astro
  src/shared/collections.ts
  src/shared/dateTime.ts
Due: linter, styles

update CV
  public/cv/2024-04.pdf
  public/cv/2025-01.pdf
  src/database/links.json
Due: none

Update Cover.astro
  src/sections/Cover.astro
Due: linter, styles

Update architecture.yaml
  src/content/skills/architecture.yaml
Due: none

Update links.json
  src/database/links.json
Due: none

improve markup
  src/components/Nav.astro
  src/components/PageSection.astro
  src/sections/Cover.astro
Due: linter, styles

fix tests
  tests/integration.test.ts
Due: linter

fix
  tests/visual.test.ts
Due: linter

small css fix
  src/components/Nav.astro
Due: linter, styles

initial draft
  src/content/blog/journey-through-switches.md
Due: none

update
  src/content/blog/journey-through-switches.md
Due: none

grammar review
  src/content/blog/journey-through-switches.md
Due: none

clarity
  src/content/blog/journey-through-switches.md
Due: none

included some other takeaway points
  src/content/blog/journey-through-switches.md
Due: none

fix css output and add table captions in md, minor markup improvements
  astro.config.mjs
  build/rehype-plugins.mjs
  build/remark-plugins.mjs
  package.json
  pnpm-lock.yaml
  postcss.config.mjs
  src/content/blog/demo.md
  src/content/blog/not-everything-needs-a-component.md
  src/styles/patterns/prose.css
  src/styles/tokens.css
Due: linter, styles

text updates
  src/content/blog/journey-through-switches.md
  src/styles/patterns/prose.css
Due: styles

demo image
  src/assets/images/blog/GtkSwitch.png
Due: none

fix typo
  src/content/blog/journey-through-switches.md
Due: none

some more typos
  src/content/blog/journey-through-switches.md
Due: none

demo caption
  src/content/blog/demo.md
Due: none

small grammar fixes
  src/content/blog/journey-through-switches.md
Due: none

Article on switches (#291)
  astro.config.mjs
  build/rehype-plugins.mjs
  build/remark-plugins.mjs
  package.json
  pnpm-lock.yaml
  postcss.config.mjs
  src/assets/images/blog/GtkSwitch.png
  src/content/blog/demo.md
  src/content/blog/journey-through-switches.md
  src/content/blog/not-everything-needs-a-component.md
  src/styles/patterns/prose.css
  src/styles/tokens.css
Due: linter, styles

specify voice over version
  src/content/blog/journey-through-switches.md
Due: none

semantic and style fixes
  src/content/blog/journey-through-switches.md
  src/styles/patterns/prose.css
Due: styles

style: update formatting
  src/components/Burger.astro
  src/components/Card.astro
  src/layouts/Layout.astro
Due: linter, styles

ensure personal works are sorted
  src/shared/collections.ts
Due: linter

use a local image to prevent flaky visual tests
  src/assets/images/blog/demo.jpg
  src/content/blog/demo.md
Due: none

fix contrast and style of links underline
  src/styles/global.css
  src/styles/patterns/prose.css
  src/styles/tokens.css
Due: styles

using important is probably legacy code
  src/styles/utility.css
Due: styles

using important is probably legacy code (#294)
  src/styles/utility.css
Due: styles

use a fixed bg on body to remove a pseudo
  src/styles/global.css
Due: styles

fix jumping background (https://css-tricks.com/the-fixed-background-attachment-hack/)
  src/styles/global.css
Due: styles

use logical viewport units
  src/components/Nav.astro
  src/components/Page.astro
  src/components/PageSection.astro
  src/layouts/Layout.astro
  src/sections/Cover.astro
  src/styles/tokens.css
Due: linter, styles

Improve background and fix jumping body bg (#295)
  src/components/Nav.astro
  src/components/Page.astro
  src/components/PageSection.astro
  src/layouts/Layout.astro
  src/sections/Cover.astro
  src/styles/global.css
  src/styles/tokens.css
Due: linter, styles

Path conditions:
  linter: any of: *.{mjs,cjs,js,ts,astro}
  styles: any of: *.{css,html,vue,astro}
