Repository dwightjack/marco.solazzi.me: changes, and which lefthook commands are due for each by the changed paths.
All: linter, styles

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    linter:
      glob: "*.{mjs,cjs,js,ts,astro}"
      run: pnpm exec eslint {staged_files}
    styles:
      glob: "*.{css,html,vue,astro}"
      run: pnpm exec stylelint {staged_files}

use font-source for base fonts and review normalize loading
  package.json
  pnpm-lock.yaml
  src/styles/fonts.css
  src/styles/global.css
  src/styles/tokens.css
Due: styles

refactor: directly inline font style to make vite correctly resolve and bundle font files
  src/layouts/Layout.astro
Due: linter, styles

fix: somall issues with reduced motion
  src/components/Burger.astro
  src/components/Nav.astro
Due: linter, styles

refactor(content): remove age (does it really matter?)
  src/sections/Cover.astro
Due: linter, styles

ci: migrate from netlify
  netlify.toml
  scripts/ignoreBuild.js
Due: linter

refactor: change the card hover animation
  src/components/Card.astro
  src/components/Nav.astro
  src/sections/Cover.astro
  src/styles/tokens.css
Due: linter, styles

refactor: minor improvements
  src/components/Card.astro
Due: linter, styles

refactor: simplify card brakcet with masks
  src/components/Card.astro
Due: linter, styles

feat: review browser support
  package.json
Due: none

add cloudflare analytics
  src/layouts/Layout.astro
Due: linter, styles

fix link
  src/content/personalWorks/50-color-compare.md
  src/content/personalWorks/90-chikumikuji.md
Due: none

refactor: link style optimization
  src/styles/global.css
  src/styles/tokens.css
Due: styles

refactor: make inline so that the outline wraps only the text
  src/components/MediaLink.astro
Due: linter, styles

update configuration to ESM and ESLint 9
  .eslintrc.json
  .prettierrc.mjs
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  postcss.config.cjs
  postcss.config.mjs
  src/layouts/Layout.astro
  src/shared/collections.ts
  src/shared/constants.ts
  src/shared/scrollIntercept.ts
  src/shared/store.ts
Due: linter, styles

update skills
  src/content/skills/architecture.yaml
  src/content/skills/languages.yaml
  src/content/skills/tools.yaml
Due: none

ci: hardening ci security
  .github/workflows/ci.yml
Due: none

section entry animation
  src/components/PageSection.astro
Due: linter, styles

clip entry animation and heading parallax
  src/components/PageSection.astro
Due: linter, styles

striped reveal animation
  src/components/PageSection.astro
Due: linter, styles

optimized reveal animation
  src/components/PageSection.astro
  src/styles/fonts.css
Due: linter, styles

avatar animation on hover
  src/assets/images/marco-full.jpg
  src/components/Avatar.astro
Due: linter, styles

change reveal angle
  src/components/PageSection.astro
Due: linter, styles

updating animation
  src/components/PageSection.astro
Due: linter, styles

update texts
  src/content/jobs/aquest.md
  src/content/jobs/merpay_mercari.md
Due: none

prevent hover animation on touch devices
  src/components/Avatar.astro
Due: linter, styles

testing mark animation
  src/components/Page.astro
Due: linter, styles

fix linting
  src/components/Cluster.astro
  src/components/Stack.astro
  src/shared/utils.ts
Due: linter, styles

update skills order
  src/shared/collections.ts
Due: linter

fix title and og
  src/layouts/Layout.astro
Due: linter, styles

update section entry. simpler and less intrusive
  src/components/PageSection.astro
Due: linter, styles

initial typography setup
  src/components/Text.astro
  src/pages/blog/post.astro
  src/styles/global.css
  src/styles/tokens.css
Due: linter, styles

blog collection configuration and test content
  src/components/Text.astro
  src/content/blog/outgrowing-frontend-and-the-journey-ahead.md
  src/content/config.ts
  src/pages/blog/[...slug].astro
  src/pages/blog/post.astro
Due: linter, styles

styles
  src/components/Text.astro
  src/content/config.ts
  src/pages/blog/[...slug].astro
Due: linter, styles

blog implementation
  astro.config.mjs
  src/components/Card.astro
  src/components/Link.astro
  src/components/LinkList.astro
  src/components/Nav.astro
  src/components/Page.astro
  src/components/Text.astro
  src/content/blog/demo.md
  src/content/blog/outgrowing-frontend-and-the-journey-ahead.md
  src/content/config.ts
  src/database/links.json
  src/layouts/Layout.astro
  src/pages/blog/[...slug].astro
  src/pages/blog/index.astro
  src/pages/index.astro
  src/sections/Cover.astro
  src/shared/collections.ts
  src/shared/constants.ts
  src/shared/routes.ts
  src/shared/scrollIntercept.ts
Due: linter, styles

visual and integration tests
  .github/workflows/ci.yml
  playwright.config.ts
  src/components/Card.astro
  src/components/Text.astro
  src/content/blog/demo.md
  src/env.d.ts
  src/pages/blog/[...slug].astro
  src/shared/collections.ts
  tests/integration.test.ts
  tests/visual.test.ts
Due: linter, styles

inline nav
  src/components/Nav.astro
  src/components/Text.astro
  src/layouts/Layout.astro
  src/styles/tokens.css
  src/styles/utility.css
Due: linter, styles

improve visibility of inline nav
  src/components/Nav.astro
  src/layouts/Layout.astro
Due: linter, styles

show draft articles in preview mode
  .github/workflows/ci.yml
  playwright.config.ts
  src/env.d.ts
  src/shared/collections.ts
Due: linter

show draft articles in preview mode
  src/shared/collections.ts
Due: linter

build command and updated tests
  playwright.config.ts
  scripts/build.sh
  tests/integration.test.ts
Due: linter
