Repository dwightjack/marco.solazzi.me: changes, and which lefthook commands are due for each by the changed paths.
All: linter, styles

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    linter:
      glob: "*.{mjs,cjs,js,ts,astro}"
      run: pnpm exec eslint {staged_files}
    styles:
      glob: "*.{css,html,vue,astro}"
      run: pnpm exec stylelint {staged_files}

use collections instead of json files
  .gitignore
  scripts/json-to-md.mjs
  src/components/Card.astro
  src/components/DateTime.astro
  src/content/config.ts
  src/content/jobs/aquest.md
  src/content/jobs/html_it.md
  src/content/jobs/intesys.md
  src/content/jobs/merpay_mercari.md
  src/content/jobs/promobit.md
  src/content/jobs/shiftbrain.md
  src/env.d.ts
  src/sections/Jobs.astro
  src/shared/collections.ts
  src/shared/dateTime.ts
Due: linter, styles

use collections instead of json files
  .eslintrc.json
  src/env.d.ts
Due: linter

education to collection
  src/content/config.ts
  src/content/education/cisco_ccna.yaml
  src/content/education/esf_training.yaml
  src/content/education/more_university.yaml
  src/sections/Education.astro
  src/shared/collections.ts
Due: linter, styles

move all contents to collections
  scripts/json-to-md.mjs
  src/components/Card.astro
  src/components/ExternalAnchor.astro
  src/components/MediaLink.astro
  src/content/config.ts
  src/content/skills/best_practices.yaml
  src/content/skills/build_tools.yaml
  src/content/skills/dx.yaml
  src/content/skills/languages.yaml
  src/content/skills/libraries.yaml
  src/content/skills/tools.yaml
  src/content/talks/20141027_frontenders_verona_meetup.yaml
  src/content/talks/20150327_cssday_it_2015.yaml
  src/content/talks/20151121_codemotion_milano_2015.yaml
  src/content/talks/20160325_cssday_it_2016.yaml
  src/content/talks/20161027_frontenders_verona_meetup.yaml
  src/content/talks/20210708_merpay_frontend_tech_talk.yaml
  src/content/talks/20210708_merpay_tech_fest_2022.yaml
  src/content/works/carrefour.yaml
  src/content/works/formigari.yaml
  src/content/works/fujitv_view.yaml
  src/content/works/muller.yaml
  src/content/works/soup_stock_tokyo.yaml
  src/database/education.json
  src/database/jobs.json
  src/database/skills.tech.json
  src/database/talks.json
  src/database/works.json
  src/sections/Skills.astro
  src/sections/Talks.astro
  src/sections/Works.astro
  src/shared/collections.ts
  src/shared/media.ts
Due: linter, styles

remove unused file
  src/shared/media.ts
Due: linter

update deps
  package.json
  pnpm-lock.yaml
  src/components/Burger.astro
  src/components/Card.astro
  src/sections/Cover.astro
Due: linter, styles

refactor icons and css layers
  package.json
  pnpm-lock.yaml
  src/components/Avatar.astro
  src/components/Box.astro
  src/components/Burger.astro
  src/components/Card.astro
  src/components/Cluster.astro
  src/components/DataGroup.astro
  src/components/Grid.astro
  src/components/Icon.astro
  src/components/InlineList.astro
  src/components/LinkList.astro
  src/components/MediaLink.astro
  src/components/Nav.astro
  src/components/Page.astro
  src/components/PageSection.astro
  src/components/Stack.astro
  src/components/ThemeSwitcher.astro
  src/content/skills/best_practices.yaml
  src/content/skills/dx.yaml
  src/content/skills/languages.yaml
  src/content/skills/libraries.yaml
  src/content/skills/tools.yaml
  src/icons/local.ts
  src/icons/local/atomic.svg
  src/icons/local/cypress.svg
  src/icons/local/gsap.svg
  src/icons/local/photoshop.svg
  src/icons/local/vitest.svg
  src/icons/local/windi.svg
  src/sections/Cover.astro
  src/styles/global.css
  src/styles/tokens.css
Due: linter, styles

custom icons and some content review
  src/content/skills/architecture.yaml
  src/content/skills/dx.yaml
  src/content/skills/libraries.yaml
  src/content/skills/tools.yaml
  src/icons/local.ts
  src/icons/local/cypress.svg
  src/icons/local/gsap.svg
  src/icons/local/photoshop.svg
  src/icons/local/vitest.svg
  src/icons/local/windi.svg
  src/icons/logos.ts
  src/shared/collections.ts
Due: linter

minor css fixes
  src/components/Icon.astro
  src/components/Nav.astro
  src/components/ThemeSwitcher.astro
Due: linter, styles

css custom properties refactoring
  src/components/Box.astro
  src/components/Card.astro
  src/components/Cluster.astro
  src/components/Grid.astro
  src/components/Icon.astro
  src/components/Stack.astro
  src/layouts/Layout.astro
Due: linter, styles

chore: linting
  src/layouts/Layout.astro
Due: linter, styles

update markup
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/assets/images/marco.avif
  src/assets/images/marco.webp
  src/components/Avatar.astro
  src/components/Box.astro
  src/components/Cluster.astro
  src/components/Stack.astro
Due: linter, styles

fix integration setup
  playwright.config.ts
Due: linter

update contents
  src/content/jobs/aquest.md
  src/content/jobs/merpay_mercari.md
  src/content/jobs/shiftbrain.md
  src/content/skills/dx.yaml
Due: none

update contents and deps
  package.json
  pnpm-lock.yaml
  src/sections/Cover.astro
Due: linter, styles

update contents and libs
  package.json
  pnpm-lock.yaml
  src/content/jobs/merpay_mercari.md
  src/sections/Cover.astro
Due: linter, styles

chore: update vscode settings
  .vscode/settings.json
Due: none

chore: update astro
  package.json
  pnpm-lock.yaml
Due: none

refactor: use native inert attribute
  src/components/Nav.astro
Due: linter, styles

nav closed by default
  src/components/Nav.astro
Due: linter, styles

Update renovate.json
  renovate.json
Due: none

chore: stack update
  .npmrc
  astro.config.mjs
  package.json
  patches/stylelint-use-logical@2.1.1.patch
  pnpm-lock.yaml
  src/components/Cluster.astro
  src/components/DataGroup.astro
  src/components/Icon.astro
  src/content/skills/architecture.yaml
  src/content/skills/build_tools.yaml
  src/content/skills/dx.yaml
  src/content/skills/languages.yaml
  src/content/skills/libraries.yaml
  src/content/skills/tools.yaml
  src/database/links.json
  src/icons/atomic.svg
  src/icons/local.ts
  src/icons/logos.ts
  src/layouts/Layout.astro
  src/sections/Cover.astro
  src/shared/scrollIntercept.ts
Due: linter, styles

fix: icon alignment in media list
  src/components/MediaLink.astro
Due: linter, styles

add lightning css and updaate stylelint plugin
  package.json
  patches/stylelint-use-logical@2.1.1.patch
  pnpm-lock.yaml
  src/styles/tokens.css
Due: styles

refactor: use scroll driven animations to toggle the page mark
  src/components/Page.astro
Due: linter, styles

update works data
  src/content/works/carrefour.yaml
  src/content/works/formigari.yaml
  src/content/works/muller.yaml
Due: none

update cover text
  src/sections/Cover.astro
Due: linter, styles

refactor utility to be simpler
  src/shared/dateTime.ts
Due: linter

contents review and personal projects
  src/components/MediaLink.astro
  src/content/config.ts
  src/content/jobs/aquest.md
  src/content/personalWorks/05-vue-types.md
  src/content/personalWorks/10-pomodoro-timer.md
  src/content/personalWorks/20-timezone-converter.md
  src/content/personalWorks/40-currency-converter.md
  src/content/personalWorks/50-color-compare.md
  src/content/personalWorks/90-chikumikuji.md
  src/content/works/formigari.yaml
  src/content/works/muller.yaml
  src/sections/Talks.astro
  src/sections/Works.astro
  src/shared/collections.ts
Due: linter, styles

updated resume
  public/cv/2024-04.pdf
  src/database/links.json
Due: none

improve image loading
  src/components/Avatar.astro
Due: linter, styles

refactor page mark transitions
  src/components/Page.astro
Due: linter, styles

use scroll driven animations to highlight nav items
  src/components/Nav.astro
  src/components/Page.astro
  src/components/Stack.astro
  src/layouts/Layout.astro
Due: linter, styles

stack change in personal project
  src/content/personalWorks/90-chikumikuji.md
Due: none

refactor: use picture component for avatar
  src/components/Avatar.astro
Due: linter, styles

perf: improve font loading
  .stylelintrc.json
  src/layouts/Layout.astro
  src/sections/Cover.astro
  src/styles/fonts.css
  src/styles/global.css
  src/styles/tokens.css
Due: linter, styles

refactor: include tokens in a dedicated layer
  src/styles/tokens.css
Due: styles

refactor: small color accessibility improvements for dark mode
  src/styles/tokens.css
Due: styles

refactor: aria-hidden is not needed because we use inert
  src/components/Nav.astro
Due: linter, styles

fix integration tests
  tests/integration.test.ts
Due: linter
