Repository dwightjack/marco.solazzi.me: changes, and which lefthook commands are due for each by the changed paths.
All: linter, styles

linter:
  run: pnpm exec eslint {staged_files}

styles:
  run: pnpm exec stylelint {staged_files}

update talks and works (#317)
  src/content/talks/20160325_cssday_it_2016.yaml
  src/content/talks/20210708_merpay_frontend_tech_talk.yaml
  src/content/works/carrefour.yaml
  src/content/works/soup_stock_tokyo.yaml
Due: none

update cv
  public/cv/2025-11.pdf
  src/database/links.json
Due: none

chore: lint
  src/sections/Cover.astro
Due: linter, styles

update text
  src/content/skills/backlog.yaml
  src/sections/Education.astro
Due: linter, styles

refactor: use scroll-target-group where available
  src/components/Nav.astro
  src/layouts/Layout.astro
  src/pages/blog/[...slug].astro
  src/pages/blog/index.astro
Due: linter, styles

feat: prevent inline nav from hiding contents on tablets
  src/components/Page.astro
Due: linter, styles

UI Updates (#320)
  src/components/Nav.astro
  src/components/Page.astro
  src/layouts/Layout.astro
  src/pages/blog/[...slug].astro
  src/pages/blog/index.astro
Due: linter, styles

hgroup is more appropriate for page heading and sub heading
  src/pages/blog/[...slug].astro
  src/styles/patterns/prose.css
Due: linter, styles

mobile menu as popover
  src/components/Burger.astro
  src/components/Nav.astro
  src/layouts/Layout.astro
  src/shared/store.ts
Due: linter, styles

cloudflare analytics script onyl in production
  src/layouts/Layout.astro
Due: linter, styles

fix tests
  src/layouts/Layout.astro
  tests/integration.test.ts
Due: linter, styles

fix tests
  tests/visual.test.ts
Due: linter

Navigation as popover (#323)
  src/components/Burger.astro
  src/components/Nav.astro
  src/layouts/Layout.astro
  src/shared/store.ts
  tests/integration.test.ts
  tests/visual.test.ts
Due: linter, styles

update node and pnpm security settings
  .node-version
  package.json
  pnpm-workspace.yaml
Due: none

update contents
  src/content/personalWorks/05-vue-types.md
  src/content/personalWorks/90-chikumikuji.md
  src/content/skills/backlog.yaml
  src/content/skills/libraries.yaml
Due: none

refactor: tabindex is not required for navigation (https://www.matuzo.at/blog/2026/skip-links-tabindex)
  src/components/Page.astro
Due: linter, styles

formatting
  .vscode/settings.json
  lefthook.yml
  package.json
  src/styles/global.css
  src/styles/patterns/table-scroller.css
Due: styles

use light-dark function for tokens
  src/layouts/Layout.astro
  src/styles/patterns/prose.css
  src/styles/tokens.css
Due: linter, styles

refactor config
  eslint.config.mjs
Due: linter

Use light-dark function (#328)
  .vscode/settings.json
  eslint.config.mjs
  lefthook.yml
  package.json
  src/layouts/Layout.astro
  src/styles/global.css
  src/styles/patterns/prose.css
  src/styles/patterns/table-scroller.css
  src/styles/tokens.css
Due: linter, styles

update to astro 6
  .vscode/settings.json
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  postcss.config.mjs
  src/content.config.ts
  src/pages/blog/[id].astro
  src/shared/collections.ts
  tsconfig.json
Due: linter, styles

Update to Astro v6 (#329)
  .vscode/settings.json
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  postcss.config.mjs
  src/content.config.ts
  src/pages/blog/[id].astro
  src/shared/collections.ts
  tsconfig.json
Due: linter, styles

codepen embed
  build/remark-plugins.mjs
  src/content/blog/journey-through-switches.md
Due: linter

video style
  src/styles/patterns/prose.css
Due: styles

link rel in posts
  astro.config.mjs
  build/markdown-plugins.mjs
Due: linter

article on drawer ui
  public/assets/blog/drawer.mp4
  src/content/blog/drawer-article.md
Due: none

review code and text
  src/content/blog/drawer-article.md
Due: none

typo
  src/content/blog/drawer-article.md
Due: none

post: Building a drawer without a library (#330)
  astro.config.mjs
  build/markdown-plugins.mjs
  build/remark-plugins.mjs
  public/assets/blog/drawer.mp4
  src/content/blog/drawer-article.md
  src/content/blog/journey-through-switches.md
  src/styles/patterns/prose.css
Due: linter, styles

feat: add baseline-status dependency and new blog post on styled <meter> element
  package.json
  pnpm-lock.yaml
  src/assets/images/blog/windows-meters.png
  src/content/blog/simple-colored-meter.md
  src/styles/patterns/prose.css
Due: styles

remove package
  package.json
  pnpm-lock.yaml
Due: none

snippetcode block, code style
  astro.config.mjs
  build/markdown-plugins.mjs
  src/content/blog/simple-colored-meter.md
  src/styles/patterns/prose.css
Due: linter, styles

text review
  src/content/blog/simple-colored-meter.md
Due: none

prose styling
  src/styles/patterns/prose.css
Due: styles

style updates
  src/styles/patterns/prose.css
  src/styles/tokens.css
Due: styles

fix logic
  build/markdown-plugins.mjs
Due: linter

more setup and style for shiki
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/styles/patterns/prose.css
Due: linter, styles

fix highlighting not extending full line on overflow
  src/styles/patterns/prose.css
Due: styles

final review
  src/content/blog/simple-colored-meter.md
Due: none

Path conditions:
  linter: any of: *.{mjs,cjs,js,ts,astro}
  styles: any of: *.{css,html,vue,astro}
