Repository dwightjack/marco.solazzi.me: changes, and which lefthook commands are due for each by the changed paths.
All: linter, styles

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    linter:
      glob: "*.{mjs,cjs,js,ts,astro}"
      run: pnpm exec eslint {staged_files}
    styles:
      glob: "*.{css,html,vue,astro}"
      run: pnpm exec stylelint {staged_files}

skip content and external links rel
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/Page.astro
  src/components/SkipContent.astro
  src/layouts/Layout.astro
  src/pages/blog/[...slug].astro
  src/pages/blog/index.astro
  src/pages/index.astro
  src/sections/Cover.astro
  src/shared/utils.ts
  src/styles/utility.css
Due: linter, styles

rename component
  src/components/Prose.astro
  src/pages/blog/[...slug].astro
Due: linter, styles

updates
  src/components/Prose.astro
  src/content/blog/outgrowing-frontend-and-the-journey-ahead.md
Due: linter, styles

nav a11y improvements
  src/components/Nav.astro
Due: linter, styles

improve navigation
  src/components/Burger.astro
  src/layouts/Layout.astro
Due: linter, styles

fix tests
  tests/integration.test.ts
Due: linter

fix visual test
  tests/visual.test.ts
Due: linter

update visual
  tests/visual.test.ts
Due: linter

fix spacing
  src/pages/index.astro
Due: linter, styles

add footer to blog pages and improve semantic of footer block
  src/components/PageSection.astro
  src/pages/blog/[...slug].astro
  src/pages/blog/index.astro
  src/sections/Footer.astro
Due: linter, styles

article text and some styles
  src/components/Prose.astro
  src/content/blog/outgrowing-frontend-and-the-journey-ahead.md
  src/pages/blog/[...slug].astro
Due: linter, styles

grammar
  src/content/blog/outgrowing-frontend-and-the-journey-ahead.md
Due: none

rss and json-ld
  package.json
  pnpm-lock.yaml
  src/layouts/Layout.astro
  src/pages/blog/[...slug].astro
  src/pages/feed.xml.ts
Due: linter, styles

Text review
  src/content/blog/outgrowing-frontend-and-the-journey-ahead.md
Due: none

a11y fixes
  src/layouts/Layout.astro
  src/styles/tokens.css
Due: linter, styles

blog post: add more links
  src/content/blog/outgrowing-frontend-and-the-journey-ahead.md
Due: none

simplify favicons
  public/android-chrome-192x192.png
  public/android-chrome-256x256.png
  public/browserconfig.xml
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/favicon.svg
  public/icon.svg
  public/manifest.json
  public/mstile-150x150.png
  public/safari-pinned-tab.svg
  src/layouts/Layout.astro
Due: linter, styles

a11y fix for activeElement
  src/components/Page.astro
  src/pages/index.astro
  src/sections/Cover.astro
Due: linter, styles

a11y fix for activeElement
  src/pages/blog/[...slug].astro
Due: linter, styles

allow full long style formatting for dates in Card
  src/components/Card.astro
  src/components/DateTime.astro
  src/pages/blog/index.astro
  src/shared/dateTime.ts
Due: linter, styles

update prose styling
  src/components/Prose.astro
Due: linter, styles

filter out future posts
  src/shared/collections.ts
Due: linter

new blog post
  src/content/blog/not-everything-needs-a-component.md
Due: none

keep code lines more compact
  src/components/Prose.astro
Due: linter, styles

give the page background a gentler color
  src/styles/global.css
  src/styles/tokens.css
Due: styles

the mark on the single article reduces legibility
  src/pages/blog/[...slug].astro
Due: linter, styles

prevent the outline from showing when navigating to a menu section
  src/components/Page.astro
Due: linter, styles

change dark mode as well
  src/styles/tokens.css
Due: styles

colors mobile gutter and font-weight on mobile
  src/components/Nav.astro
  src/components/Page.astro
  src/components/PageSection.astro
  src/styles/global.css
  src/styles/tokens.css
Due: linter, styles

text review
  src/content/blog/not-everything-needs-a-component.md
Due: none

prose style fix and new blog post revision
  astro.config.mjs
  src/components/Prose.astro
  src/content/blog/not-everything-needs-a-component.md
Due: linter, styles

fix size
  src/sections/Cover.astro
Due: linter, styles

fix rss url
  src/layouts/Layout.astro
Due: linter, styles

text refinements
  src/content/blog/not-everything-needs-a-component.md
Due: none

convert stack and cluster to CSS patterns
  src/components/Cluster.astro
  src/components/InlineList.astro
  src/components/LinkList.astro
  src/components/Nav.astro
  src/components/Page.astro
  src/components/PageSection.astro
  src/components/Stack.astro
  src/layouts/Layout.astro
  src/pages/blog/[...slug].astro
  src/pages/blog/index.astro
  src/pages/index.astro
  src/sections/Education.astro
  src/sections/Jobs.astro
  src/sections/Talks.astro
  src/sections/Works.astro
  src/styles/patterns.css
  src/styles/tokens.css
Due: linter, styles

cleanup
  src/shared/utils.ts
Due: linter

remove grid component and token review
  src/components/Grid.astro
  src/components/InlineList.astro
  src/components/Page.astro
  src/components/Prose.astro
  src/pages/index.astro
  src/sections/Skills.astro
  src/styles/tokens.css
Due: linter, styles

404 page
  src/components/Error.astro
  src/pages/404.astro
  src/shared/constants.ts
  src/shared/routes.ts
Due: linter, styles

prose as pattern
  src/components/Prose.astro
  src/pages/blog/[...slug].astro
  src/styles/patterns.css
  src/styles/patterns/cluster.css
  src/styles/patterns/marked.css
  src/styles/patterns/prose.css
  src/styles/patterns/stack.css
Due: linter, styles
